<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vacation Rentals,Homes,Apartments & Rooms for rent-Airbnb</title>
    <link rel="stylesheet" href="../stylesheets/bootstrap/css/bootstrap.css">
    <script src="../stylesheets/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body style="padding-top: 70px">

<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #ffffff;height: 65px;">

        <div class="col-md-3" style="margin-top: -9px;margin-left: -15px">
           <button class="navbar-btn" style="height: 65px;background-color: #ffffff;">
               <img src="../images/logo-1.png" style="width: 150px;height: 45px;"/>
           </button>
        </div>
        <div class="col-md-6">
            <!--<div class="col-md-1" style="margin-left: -220px">
                <img src="../images/search.png" height="35" width="35"/>
                </div>-->
            <div class="col-md-12 input-group" style="height: 65px;margin-left: -218px">


                <input type="text" class="form-control" placeholder="Where to?" style="height: 65px;z-index: 0;width: 1020px;">
                <span class="input-group-btn">
                      <button type="button" class="btn btn-default" style="border:solid;border-color: #c4c4c4;margin-left: -170px;z-index: 1">Become a Host</button>
                  </span>
            </div>

        </div>
        <div class="col-md-1" style="margin-top: -9px;">
            <button class="navbar-btn" style="height: 65px;width:100%;background-color: #ffffff;width: 120px;margin-left: 30px">
                Help
                <img src="../images/help.png" height="24" width="24"/>

            </button>

        </div>
        <div class="col-md-1" style="margin-top: -9px;">
            <button class="navbar-btn" style="height: 65px;width:100%;background-color: #ffffff;width: 120px;margin-left: 20px">
                Sign Up
            </button>
        </div>
    <div class="col-md-1" style="margin-top: -9px;">
        <button class="navbar-btn" style="height: 65px;width:100%;background-color: #ffffff;width: 120px;margin-left: 10px">
            Log In
        </button>
    </div>
</nav>




<div class="col-md-offset-1 col-md-8">
    <h1 style="padding-top: 20px;padding-bottom: 20px">
        <span style="color: #FF5A5F;font-weight: 700;font-size: 48px">Live there.</span>
        <span style="color: #484848;font-weight:100;letter-spacing:-0.8px;font-size: 48px;">Book unique homes and experience a city like a local.</span>
    </h1>

</div>
<div class="col-md-offset-1">
    <div class="col-md-4">
        <div class="panel panel-default">

            <div class="panel-body" style="margin-left: 20px;margin-right: 20px">
                <div class="row">
                    <label>Where</label>

                </div>
                <div class="row">
                    <input type="text" class="form-control" placeholder="Destination,city,address">
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4" style="margin-left: -31px;margin-right: -50px">
        <!--<input type="text" class="form-control" style="z-index:0;height: 100px">-->
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="row">
                    <label style="padding-left: 15px;padding-right: 20px">When</label>

                </div>
                <div class="col-md-5">
                    <input type="date" class="form-control" style="width: 150px;" placeholder="Check In">
                </div>
                <div class="col-md-6">
                    <input type="date" class="form-control" style="width: 150px;" placeholder="Check Out">
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4" style="margin-left: -31px;">
        <div class="panel panel-default">

            <div class="panel-body">
                <div class="col-md-6">
                    <div class="row">
                        <label style="padding-left: 15px;padding-right: 20px">Guests</label>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <input type="text" class="form-control" style="padding-left: 20px;margin-left: 20px;width:120px;border: transparent;" placeholder="1 Guest">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">1 Guest</a></li>
                                        <li><a href="#">2 Guests</a></li>
                                        <li><a href="#">3 Guests</a></li>
                                        <li><a href="#">4 Guests</a></li>
                                        <li><a href="#">5 Guests</a></li>
                                        <li><a href="#">6 Guests</a></li>
                                        <li><a href="#">7 Guests</a></li>
                                        <li><a href="#">8 Guests</a></li>
                                        <li><a href="#">9 Guests</a></li>
                                        <li><a href="#">10 Guests</a></li>
                                        <li><a href="#">10+ Guests</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-lg" style="margin-left: 40px;margin-top: 5px;background-color: #FF5A5F;color: white;font-weight: bold">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-offset-1 col-md-10">
    <h3 style="font-weight: 100">Explore the world</h3>
</div>
<div class="col-md-offset-1 col-md-10">
    <div class="col-md-6">
        <a href="#">
        <img class="img-thumbnail" src="../images/paris.jpg" style="border: 0px;padding-top: 25px;width: 100%;height: auto">
        </a>
    </div>
    <div class="col-md-6">
        <div class="col-md-6">
            <div class="row">
                <a href="#">
                <img class="img-thumbnail" src="../images/rome.jpg" style="border: 0px;padding-top: 25px;width: 100%;height: auto">
                    </a>
            </div>
            <div class="row">
                <a href="#">
                <img class="img-thumbnail" src="../images/lisbon.jpg" style="border: 0px;padding-top: 25px;width: 100%;height: auto">
                    </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <a href="#">
                <img class="img-thumbnail" src="../images/la.jpg" style="border: 0px;padding-top: 25px;width: 100%;height: auto">
                    </a>
            </div>
            <div class="row">
                <a href="#">
                <img class="img-thumbnail" src="../images/amsterdam.jpg" style="border: 0px;padding-top: 25px;width: 100%;height: auto">
                    </a>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
<hr style="border-color: #9d9d9d">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
    <div class="col-md-3">

    </div>
    <div class="col-md-3" style="color: #9d9d9d">
        <div class="row"> <label style="color: #3c3c3c">Airbnb</label></div>
        <div class="row"><label>About</label></div>
        <div class="row"><label>Careers</label></div>
        <div class="row"><label>Press</label></div>
        <div class="row"><label>Policies</label></div>
        <div class="row"><label>Help</label></div>

    </div>
    <div class="col-md-3" style="color: #9d9d9d">
        <div class="row"> <label style="color: #3c3c3c">Discover</label></div>
        <div class="row"><label>Trust & safety</label></div>
        <div class="row"><label>Travel credit</label></div>
        <div class="row"><label>Gift Cards</label></div>
        <div class="row"><label>Airbnb Action</label></div>
        <div class="row"><label>Buisness Travels</label></div>
        <div class="row"><label>Guidebooks</label></div>
    </div>
        <div class="col-md-3" style="color: #9d9d9d">
            <div class="row"> <label style="color: #3c3c3c">Hosting</label></div>
            <div class="row"><label>Why Host</label></div>
            <div class="row"><label>Hospitality</label></div>
            <div class="row"><label>Resonable Hosting</label></div>
        </div>

    </div>
    <div class="col-md-1">

    </div>
</div>
    <div class="col-md-offset-1 col-md-10" style="padding-top: 50px;padding-bottom: 50px;color: #9d9d9d;">
    <hr style="border-color: #9d9d9d">
   <div class="col-md-2">
       <img src="../images/logo-2.png" height="25" width="25"/>&nbsp;&nbsp;© Airbnb, Inc.
   </div>
        <div class="col-md-6"></div>
        <div class="col-md-4">
            <div class="col-md-6">
                Terms and conditions
            </div>
            <div class="col-md-6">
                Site Map
            </div>
        </div>
    </div>

</body>
</html>