<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOST PROFILE</title>
   <!-- <link rel="stylesheet" href="../stylesheets/bootstrap/css/bootstrap.css">
    <script src="../stylesheets/bootstrap/js/bootstrap.js"></script>-->
</head>
<body>
<div ng-controller="HostProfileCtrl">
    <div ng-include="'./templates/NavigationBar.html'"></div>
    <div class="col-md-1"></div>
    <div class="col-md-2" style="color:#484848">
        <img class="img-thumbnail" src={{path}} style="border: 0px;padding-top: 25px;width: 100%;height: auto">
        <div class="panel panel-default" style="margin-top: 25px">
            <div class="panel-heading" style="font-size: 16px;padding-top: 12px;padding-bottom: 12px;border-bottom: 1px solid #dce0e0;">Verified info </div>
            <div class="panel-body">
                <div class="row">
                    <label style="padding-left: 15px;padding-right: 20px">Email Address : </label>
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </div>
                <div class="row">
                    <label style="padding-left: 15px;padding-right: 16px">Phone number : </label>
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </div>
            </div>
        </div>
        <div class="panel panel-default" style="margin-top: 25px">
            <div class="panel-heading" style="font-size: 16px;padding-top: 12px;padding-bottom: 12px;border-bottom: 1px solid #dce0e0;">About Me</div>
            <div class="panel-body">
                <div class="row">
                    <label style="padding-left: 15px;padding-right: 20px">Work : </label><br>
                    <label style="padding-left: 15px;padding-right: 20px;color: #9d9d9d">Photographer </label>
                </div>
                <div class="row">
                    <label style="padding-left: 15px;padding-right: 16px">Languages : </label><br>
                    <label style="padding-left: 15px;padding-right: 20px;color: #9d9d9d">English </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6" style="color:#484848">
        <h1>Hey,I'm {{fname}}!</h1>
        <h5 style="margin-top: 12px;font-weight:bold ">{{city}},{{state}}</h5>
        <div style="margin-top: 12px;">
            <p style="font-family:Verdana;font-size: 14px">
                {{description}}
            </p>

        </div>
        <span class="badge" style="background:#ffb400;border-radius: 6px;color: #fff;font-weight: bold;font-size: 18px;display: inline-block;padding: 6px 9px;min-width: 28px;position: relative;vertical-align: middle;">{{avg_rating}}/5</span>
        <label>Reviews (</label>
        <label>{{num_rating}}</label>
        <label>)</label>
        <h1>Reviews</h1>
        <h5 style="margin-top: 12px;font-weight:bold ">Reviews from Guests</h5>
        <div class="row" ng-repeat="x in reviewslist">
            <div class="col-md-2">
                <img class="img-responsive img-circle" src="../images/profile.JPG" style="border: 0px;padding-top: 25px;width: 100%;height: auto">
                <p style="text-align: center">{{x.reviews[0].firstname}} {{x.reviews[0].lastname}}</p>
            </div>
            <div class="col-md-10">
                <p style="font-family:Verdana;font-size: 14px">{{x.reviews[0].review}}</p>
                <hr style="border-color: #9d9d9d">
            </div>

        </div>
    </div>

    <div class="col-md-2"></div>
</div>
</body>
</html>